@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color: black;
  background: white;
  font-family: var(
      'geistSansFont',
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      arials,
      var(--font-sans-fallback)
    ),
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

main {
  @apply mx-auto w-full max-w-screen-2xl *:px-6 md:*:px-14 my-8 md:my-24;
}

/* CUSTOM CSS */

.navbar_search {
  width: 237px;

  --search-size: 32px;
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  white-space: nowrap;
  background: hsla(0, 0%, 95%, 1);
  border-radius: 6px;
  padding: 0 6px 0 8px;
  font-size: 14px;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: hsla(0, 0%, 56%, 1);
  transition-property: background, color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.search_kbd {
  height: 20px;
  line-height: 20px;
  border-radius: 6px;
  padding: 0 6px;
  font-size: 12px;
  color: hsla(0, 0%, 9%, 1);
  background: #fff;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
  margin-left: 16px;
}

.suggestion_item {
  @apply flex items-center gap-2 px-2 py-4 md:p-2 md:hover:bg-[rgba(0,0,0,.05)];
}
